<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.acme.rcp.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.acme.rcp.perpective.Perspective"
            id="jiraClient.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="com.acme.rpc.view.View"
            id="jiraClient.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="com.acme.rpc.view.NavigationView"
            id="jiraClient.navigationView">
      </view>
      <view
            class="com.acme.rpc.view.TableView"
            id="jiraClient.tableView"
            name="JiraClient"
            restorable="true">
      </view>
      <view
            class="com.acme.rpc.view.AgileIssueView"
            id="jiraClient.AgileIssueView"
            name="AgileIssue">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="jiraClient.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="jiraClient.category"
            id="jiraClient.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="jiraClient.category"
            id="jiraClient.openMessage">
      </command>
      <command
            categoryId="jiraClient.category"
            description="Open a login dialog"
            id="jiraClient.openLogin"
            name="Open Login Dialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="jiraClient.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="jiraClient.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="jiraClient.application"
            name="RCP Product">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>

</plugin>
